<span>{{ title }} app is running! {{title1}}</span>


<br><br>
<table border="1">
    <tr>
        <td><nav>
            <a routerLink="/reactform">Reactive Form</a><br>
            <a routerLink="/tempform">Template Form</a><br>
            <a routerLink="/c2">C2 Book</a><br>
            <a routerLink="/chatform">Chat Now</a><br>
            <a routerLink="/tform">Template Driven Form</a><br>
            <a routerLink="/form1">Reactive Form</a><br>
            <a routerLink="/heroes">Heroes</a><br>
            <a routerLink="/comp1">Component1</a><br>
            <a routerLink="/pipetest">Pipe Test</a>
        </nav></td>
        <td width="700"><router-outlet></router-outlet>
        </td>
    </tr>
</table>